<html>
<head>
	<title>Liste des départements avec femmes>hommes</title>
</head>

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='monfichier.css')}}">

<div style="text-align:left">
<a href="{{url_for('hello')}}"><img src="http://www.myhomephone.fr/1105-large_default/reparation-bouton-home-iphone-5c.jpg" height="5%" alt="Accueil"/></a>
</div>

	<body>

		<h1>Les départements où il y a le plus de femmes diplomées que d'hommes par année : </h1>

	<p>Il semblerait que la requête SQL soit incorrecte</p>

<br></br>
<br></br>

		{% for a in diplomesf %}
			<p><FONT size="5">{{a[0]}} {{a[1]}}</FONT></p>
		{% endfor %}

	</body>

</html>
