<html>
<head>
	<title>ERROR PAGE</title>

<style type="text/css">
    body{
			background-image: url(http://www.wallpapers-mania.org/images/Deco/fond-page-web-planches-noires-verticales.jpg);
			text-align: center;
	  }
		h2{
			color : red;
			text-align: center;
		}

</style>

</head>

<body>
		<br></br>
					<b><h2><FONT size="6">MAUVAISE SAISIE DE L'UTILISATEUR</FONT></h2></b>

		<br></br>
		<br></br>
		<br></br>

         <img src="https://kuwaitlifestyleblog.files.wordpress.com/2016/07/windows_bug6-100581894-primary-idge.jpg" height=45% text-align: center>
</body>

</html>
